body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
}

.topo {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 980px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 118px;
    height: 146px;    
    margin: 20px;    
    cursor: pointer;  
    perspective: 800px; 
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;    
}

.card__inner.turned {
    transform: rotateY(180deg);
    cursor: auto;
}

.card_face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,.3);
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_face img {
    height: 100px;
}

.face_back {
    transform: rotateY(180deg);
}

@media (max-width: 414px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topo h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
    }
    }

    
    
