body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
}

.topo {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 980px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    width: 118px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(arq/front.png);
    cursor: pointer;
    transition: all 1s linear;
    padding: 20px 6px;
   
}

.card img {
    width: 100px;
    height: 100px;
    margin: auto;
    opacity: 0;
}

.turned {
    background-image: none;
}

.turned img {
    opacity: 1;
}

@media (max-width: 414px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topo h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
    }
    }

    
    
